name: CI

on:
  pull_request:
    branches:
      - master

  push:
    branches:
      - master

jobs:
  build-and-test:
    name: Build and test on Ubuntu - Node 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      # Copy Env File
      - run: cp .env.default .env

      # Build and test Multinet client app.
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - uses: actions/cache@v1
        id: client-cache
        with:
          path: /home/runner/work/multinet-client/multinet-client/node_modules
          key: ${{ runner.os }}-${{ hashFiles('/home/runner/work/multinet-client/multinet-client/yarn.lock') }}-client-cache

      - name: Install yarn packages
        if: steps.client-cache.outputs.cache-hit != 'true'
        run: yarn install

      - name: Populate app registry
        run: yarn init-appregistry

      - run: yarn lint
      - run: yarn lint:test
      - run: yarn build
